# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
logs/
*.log

# Build
build/
dist/

# macOS
.DS_Store

# Windows
Thumbs.db